@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary:#363636, // The primary color of your application
  accent: #5959AB,
  warn: white, // The accent or secondary color
  theme: dark

));

@import "~vue-material/dist/theme/all"; // Apply the theme